# MyConfig example
#
# The file MyConfig is included verbatim in the Makefile to determine which
# modules (or libraries) will be included in the build.

# ------------------------------------------------------------------------
# here are simple examples for libraries, they may be mutually exclusive

# ADM vars and iterative solvers
libpaths += src/physics/ADMvars
libpaths += src/physics/ModeComputer
libpaths += src/utility/s2kit
libpaths += src/utility/GridIterators
libpaths += src/utility/LinAlg
libpaths += src/physics/Poisson3

# DNSdata and EoS at T=0
repo = giter@quark.physics.fau.edu:
projects += $(repo)/EoS_T0
projects += $(repo)/DNSdata

# ------------------------------------------------------------------------
# override various options in the Makefile

# name and directory for the executable
EXEC = sgrid
EXECDIR = $(TOP)/exe

# pick a C compiler, only gcc and icc have been tested, gcc is the default
CC = gcc # icc

# optimization flags, say -O, -O2, -g for debugging, -pg for profiling, ...
OFLAGS = -O3 -fopenmp # -g # -Wall
DFLAGS += -DNONICOFUNCS
#DFLAGS += -DLIBSGRID

# use OpenMP pragmas of LEVEL6 and TOPLEVEL
DFLAGS += -DLEVEL6_Pragmas
DFLAGS += -DTOPLEVEL_Pragmas # -DMEMORY_EFFICIENT

# compile in UMFPACK
DFLAGS += -DUMFPACK
SPECIALINCS += -I/usr/include/suitesparse
SPECIALLIBS += -lumfpack -lamd -lblas

# compile in TEMPLATES from dir /home/wolf/Packages/dctemplates_extBlasLapack
DFLAGS += -DTEMPLATES
TEMPLATESDIR = /home/wolf/Packages/dctemplates_extBlasLapack
SPECIALLIBS += -L$(TEMPLATESDIR) -literatortemplates
SPECIALLIBS += -lblas -llapack

# compile in GSL
DFLAGS += -DGSL
SPECIALLIBS += -lgsl -lgslcblas
